# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env

# Dependency directories
node_modules
dist

# Build outputs
dist-ssr
dist
.vite

# Local environment files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Client-side build outputs (if using React, Angular, etc.)
client/dist
client/build

# Ignore package-lock files if you don't want to track them
package-lock.json
yarn.lock
